/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font-family: 'PT Sans', sans-serif;
  height: 5836px;
}

/* line 11, ../sass/screen.scss */
a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 15, ../sass/screen.scss */
a:focus {
  text-decoration: none;
}

/* line 19, ../sass/screen.scss */
.wrapper {
  overflow: hidden;
}

/* line 23, ../sass/screen.scss */
.block-parallax {
  min-height: 6000px;
  height: 100%;
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: -1000;
}

@font-face {
  font-family: "IntroRegular";
  src: url("../fonts/IntroRegular/IntroRegular.eot");
  src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/IntroRegular/IntroRegular.woff") format("woff"), url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "IntroInline"; */
@font-face {
  font-family: "IntroInline";
  src: url("../fonts/IntroInline/IntroInline.eot");
  src: url("../fonts/IntroInline/IntroInline.eot?#iefix") format("embedded-opentype"), url("../fonts/IntroInline/IntroInline.woff") format("woff"), url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 47, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 50, ../sass/screen.scss */
.header-bg {
  background: url(../image/Gradient.jpg) repeat-x;
  height: 1139px;
  position: relative;
  z-index: 2;
  background-position: 0 -288px;
}

/* line 70, ../sass/screen.scss */
.block-seti {
  width: 180px;
  margin-top: 26px;
}
/* line 73, ../sass/screen.scss */
.block-seti a {
  cursor: pointer;
}
/* line 78, ../sass/screen.scss */
.block-seti .google {
  background: url(../image/soc-seti.svg) no-repeat;
  height: 45px;
  width: 44px;
  display: inline-block;
  margin-right: 11px;
}
/* line 85, ../sass/screen.scss */
.block-seti .facebook {
  background: url(../image/soc-seti.svg) no-repeat;
  height: 45px;
  width: 46px;
  background-position: -57px 0;
  display: inline-block;
  margin-right: 12px;
}
/* line 93, ../sass/screen.scss */
.block-seti .twitter {
  background: url(../image/soc-seti.svg) no-repeat;
  height: 45px;
  width: 45px;
  background-position: -115px 0;
  display: inline-block;
}

/* line 101, ../sass/screen.scss */
.block-logo {
  background: url(../image/toppins.svg) center 35px no-repeat, url(../image/plashka_text.png) no-repeat;
  height: 121px;
  width: 284px;
  display: block;
  position: relative;
  left: 48px;
}

/* line 109, ../sass/screen.scss */
.block-contacts {
  margin-top: 26px;
}
/* line 112, ../sass/screen.scss */
.block-contacts .telefon {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-bottom: 18px;
}
/* line 120, ../sass/screen.scss */
.block-contacts .mail {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

/* line 128, ../sass/screen.scss */
.block-margin {
  margin-bottom: 101px;
}

/* line 131, ../sass/screen.scss */
ul.menu {
  position: relative;
  z-index: 99;
  display: table;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

/* line 139, ../sass/screen.scss */
.menu li {
  display: inline-block;
  margin-right: 65px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 145, ../sass/screen.scss */
.menu li a {
  font-family: IntroRegular;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

/* line 154, ../sass/screen.scss */
.active {
  border-bottom: 2px solid #fff;
}

/* line 157, ../sass/screen.scss */
.fxd {
  height: 50px;
  z-index: 9999 !important;
  width: 100%;
  background: #7cb42d;
  margin-left: 0;
  line-height: 50px;
}

/* line 165, ../sass/screen.scss */
.block-menu-parent.fixed {
  width: 100%;
  background-color: #78af2c;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: ease 1s;
}
/* line 176, ../sass/screen.scss */
.block-menu-parent.fixed #menu {
  height: 50px;
  display: flex;
  justify-content: center;
}
/* line 180, ../sass/screen.scss */
.block-menu-parent.fixed #menu li {
  display: inline-block;
  margin: auto;
}
/* line 183, ../sass/screen.scss */
.block-menu-parent.fixed #menu li:first-child {
  margin-left: 0 !important;
}
/* line 186, ../sass/screen.scss */
.block-menu-parent.fixed #menu li:last-child {
  margin-right: 0 !important;
}
/* line 189, ../sass/screen.scss */
.block-menu-parent.fixed #menu li a {
  font-family: IntroRegular;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

/* line 200, ../sass/screen.scss */
.block-text-margin {
  margin-top: 169px;
}
/* line 203, ../sass/screen.scss */
.block-text-margin .block-logo-toppins {
  background: url(../image/text-toppins.svg) no-repeat;
  width: 399px;
  height: 74px;
  margin-bottom: 30px;
}
/* line 209, ../sass/screen.scss */
.block-text-margin h3 {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 43px;
  text-align: left;
  text-transform: uppercase;
}
/* line 217, ../sass/screen.scss */
.block-text-margin h2 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 47px;
  font-weight: 400;
  line-height: 63px;
  text-align: left;
  text-transform: uppercase;
}
/* line 226, ../sass/screen.scss */
.block-text-margin h4 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 27px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 236, ../sass/screen.scss */
.block-text-margin p {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* line 245, ../sass/screen.scss */
.block-bg-img {
  background: url(../image/glase.png) no-repeat;
  width: 1270px;
  height: 825px;
  position: relative;
  top: -222px;
  right: 500px;
}

/* line 253, ../sass/screen.scss */
.block-animate-left {
  position: relative;
  z-index: 99;
}

/* line 257, ../sass/screen.scss */
.block-text-center {
  font-family: IntroRegular;
  color: #303030;
  font-size: 29px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  margin-bottom: 150px;
}

/* line 266, ../sass/screen.scss */
.section.s2 {
  padding-top: 30px;
}

/* line 270, ../sass/screen.scss */
.block-one h3 {
  font-family: IntroRegular;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-bottom: 20px;
}
/* line 279, ../sass/screen.scss */
.block-one p {
  font-family: 'PT Sans', sans-serif;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 40px;
  max-width: 361px;
}

/* line 291, ../sass/screen.scss */
.block-after-one::after {
  content: '1';
  display: block;
  width: 32px;
  height: 56px;
  position: relative;
  top: -366px;
  left: -95px;
  font-family: "IntroRegular";
  font-size: 80px;
  color: #ef5302;
}

/* line 305, ../sass/screen.scss */
.block-one.block-after-two {
  position: relative;
  top: 86px;
}
/* line 309, ../sass/screen.scss */
.block-one.block-after-two::after {
  content: '2';
  display: block;
  width: 41px;
  height: 56px;
  position: relative;
  top: -315px;
  left: -95px;
  font-family: "IntroRegular";
  font-size: 80px;
  color: #ef5302;
}

/* line 324, ../sass/screen.scss */
.block-after-tree::after {
  content: '3';
  display: block;
  width: 41px;
  height: 58px;
  position: relative;
  top: -367px;
  left: -95px;
  font-family: "IntroRegular";
  font-size: 80px;
  color: #ef5302;
}

/* line 338, ../sass/screen.scss */
.block-after-four {
  position: relative;
  top: 86px;
}
/* line 342, ../sass/screen.scss */
.block-after-four::after {
  content: '4';
  display: block;
  width: 44px;
  height: 56px;
  position: relative;
  top: -362px;
  left: -95px;
  font-family: "IntroRegular";
  font-size: 80px;
  color: #ef5302;
}

/* line 356, ../sass/screen.scss */
.block-margin-parent {
  margin-top: 190px;
}

/* line 359, ../sass/screen.scss */
.block-parent-table {
  min-height: 240px;
  background: #f9f9f9;
  padding-top: 44px;
  position: relative;
  z-index: 1;
  margin-top: 116px;
}
/* line 367, ../sass/screen.scss */
.block-parent-table .block-text-paragraph {
  color: #6c6c6c;
  font-size: 21px;
  font-style: italic;
  line-height: 25px;
  text-align: left;
  margin-top: 35px;
  margin-left: 26px;
}
/* line 376, ../sass/screen.scss */
.block-parent-table p.table-name {
  margin-bottom: 10px;
  padding-left: 22px;
  color: #000;
}
/* line 381, ../sass/screen.scss */
.block-parent-table table {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
/* line 388, ../sass/screen.scss */
.block-parent-table table td {
  width: 130px;
  height: 30px;
  padding-left: 22px;
}
/* line 393, ../sass/screen.scss */
.block-parent-table table td:first-child {
  border-right: 1px solid #ccc;
}
/* line 397, ../sass/screen.scss */
.block-parent-table table tr {
  border-top: 1px solid #ccc;
}
/* line 400, ../sass/screen.scss */
.block-parent-table table tr:last-child {
  border-bottom: 1px solid #ccc;
}
/* line 404, ../sass/screen.scss */
.block-parent-table img {
  max-width: inherit;
}

/* line 408, ../sass/screen.scss */
.block-header {
  font-family: IntroRegular;
  color: #303030;
  font-size: 29px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  margin-top: 121px;
  margin-bottom: 129px;
}

/* line 418, ../sass/screen.scss */
.block-content-left, .block-content-right {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

/* line 425, ../sass/screen.scss */
.block-text-margin-parent {
  margin-bottom: 132px;
}

/* line 428, ../sass/screen.scss */
img.block-content-center.animated.bounceInUp {
  max-width: 100%;
}

/* line 431, ../sass/screen.scss */
.block-parent-four {
  position: relative;
}
/* line 434, ../sass/screen.scss */
.block-parent-four .block-line {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -470px;
}
/* line 440, ../sass/screen.scss */
.block-parent-four .block-line img {
  max-width: 100%;
}

/* line 445, ../sass/screen.scss */
.block-text-block-margin {
  padding-top: 64px;
}
/* line 449, ../sass/screen.scss */
.block-text-block-margin .block-style-triangle {
  background: url(../image/triangle.svg) no-repeat;
  width: 192px;
  height: 109px;
  color: #6c6c6c;
  font-size: 18px;
  font-style: italic;
  line-height: 19px;
  text-align: left;
  padding-top: 25px;
  padding-left: 27px;
}
/* line 461, ../sass/screen.scss */
.block-text-block-margin .block-circle, .block-text-block-margin .block-piramida, .block-text-block-margin .block-leaves {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}
/* line 468, ../sass/screen.scss */
.block-text-block-margin .block-circle {
  background: url(../image/circle.svg) left top no-repeat;
  padding-top: 57px;
}
/* line 472, ../sass/screen.scss */
.block-text-block-margin .block-piramida {
  background: url(../image/piramida.svg) left top no-repeat;
  padding-top: 57px;
}
/* line 476, ../sass/screen.scss */
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) left top no-repeat;
  padding-top: 57px;
}

/* line 481, ../sass/screen.scss */
.section.s4 {
  padding-top: 125px;
}

/* line 484, ../sass/screen.scss */
.block-ben-parent {
  position: relative;
}

/* line 488, ../sass/screen.scss */
.block-header-ben {
  font-family: IntroRegular;
  color: #303030;
  font-size: 29px;
  font-weight: 400;
  line-height: 34px;
  text-align: center !important;
}
/* line 496, ../sass/screen.scss */
.block-header-ben .block-text-description {
  margin-top: 55px;
  margin-bottom: 79px;
}
/* line 500, ../sass/screen.scss */
.block-header-ben .block-text-description p {
  font-family: 'PT Sans', sans-serif;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* line 510, ../sass/screen.scss */
.block-img-left {
  float: left;
  margin-right: 32px;
}

/* line 514, ../sass/screen.scss */
.block-text-right, .block-text-left {
  padding-top: 48px;
}
/* line 517, ../sass/screen.scss */
.block-text-right h3, .block-text-left h3 {
  font-family: IntroRegular;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-bottom: 17px;
}
/* line 526, ../sass/screen.scss */
.block-text-right p, .block-text-left p {
  font-family: 'PT Sans', sans-serif;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* line 535, ../sass/screen.scss */
.block-img-right {
  float: right;
  margin-left: 32px;
}

/* line 539, ../sass/screen.scss */
.block-text-left {
  max-width: 361px;
}
/* line 542, ../sass/screen.scss */
.block-text-left h3, .block-text-left p {
  text-align: right;
}

/* line 546, ../sass/screen.scss */
.block-text-left {
  max-width: 361px;
}

/* line 549, ../sass/screen.scss */
.block-text-import-margin {
  margin-bottom: 56px;
}

/* line 552, ../sass/screen.scss */
.block-important-text {
  padding-top: 17px;
}

/* line 555, ../sass/screen.scss */
.block-muss {
  padding-top: 138px;
  padding-bottom: 27px;
}

/* line 560, ../sass/screen.scss */
.block-standorte p, .block-impressum p, .block-hanau p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
/* line 567, ../sass/screen.scss */
.block-standorte h2, .block-impressum h2, .block-hanau h2 {
  font-family: IntroRegular;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  margin-bottom: 16px;
}

/* line 577, ../sass/screen.scss */
.block-kann {
  margin-bottom: 90px;
}
/* line 580, ../sass/screen.scss */
.block-kann .block-header-ben {
  margin-bottom: 70px;
}

/* line 584, ../sass/screen.scss */
.block-standorte {
  background: url(../image/map.svg) 10px top no-repeat;
  padding-left: 61px;
}

/* line 588, ../sass/screen.scss */
.block-impressum {
  background: url(../image/factory.svg) left top no-repeat;
  padding-left: 73px;
}

/* line 592, ../sass/screen.scss */
.block-standorte p {
  max-width: 240px;
}

/* line 595, ../sass/screen.scss */
.block-hanau {
  padding-top: 35px;
}

/* line 600, ../sass/screen.scss */
.block-hanau p a {
  text-decoration: underline;
  color: #6c6c6c;
}

/* line 606, ../sass/screen.scss */
footer {
  background: url(../image/cookies-footer-two.png) center bottom no-repeat;
  min-height: 260px;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
}
/* line 612, ../sass/screen.scss */
footer .block-seti-right {
  width: 200px;
  float: right;
}
/* line 617, ../sass/screen.scss */
footer .block-seti-footer a {
  height: 45px;
  width: 46px;
  display: inline-block;
}
/* line 622, ../sass/screen.scss */
footer .block-seti-footer .footer-google {
  background: url(../image/soc-seti-footer.svg) no-repeat;
  margin-right: 5px;
}
/* line 626, ../sass/screen.scss */
footer .block-seti-footer .footer-facebook {
  background: url(../image/soc-seti-footer.svg) no-repeat;
  background-position: -57px 0;
  margin-right: 8px;
}
/* line 631, ../sass/screen.scss */
footer .block-seti-footer .footer-twitter {
  background: url(../image/soc-seti-footer.svg) no-repeat;
  background-position: -115px 0;
}
/* line 636, ../sass/screen.scss */
footer .copy {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
/* line 643, ../sass/screen.scss */
footer .telefon {
  color: #6c6c6c;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;
}
/* line 650, ../sass/screen.scss */
footer .mail {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
/* line 657, ../sass/screen.scss */
footer .block-left-footer {
  padding-left: 30px;
  margin-top: 150px;
}
/* line 661, ../sass/screen.scss */
footer .block-right-footer {
  position: relative;
  right: 30px;
  top: 30px;
}

/* line 667, ../sass/screen.scss */
#toTop {
  position: absolute;
  right: 70px;
  background: url(../image/arrow.svg) no-repeat;
  width: 70px;
  height: 57px;
  z-index: 9999;
}

/* line 677, ../sass/screen.scss */
#intro {
  background: url(../image/crumbs.png) no-repeat;
  height: 5836px;
  margin: 0 auto;
  padding: 0;
  background-position: -107px 390px;
}

@media screen and (min-width: 1300px) {
  /* line 685, ../sass/screen.scss */
  .section.s2 {
    padding-top: 130px;
  }

  /* line 688, ../sass/screen.scss */
  .fxd ul.menu {
    padding: 0 15px;
  }
}
/* line 692, ../sass/screen.scss */
.logo-footer {
  position: relative;
  top: 46px;
}

@media screen and (max-width: 450px) {
  /* line 697, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  /* line 701, ../sass/screen.scss */
  .block-text-right {
    margin-bottom: 15px;
  }

  /* line 704, ../sass/screen.scss */
  .block-img-left {
    margin-bottom: 15px;
  }

  /* line 707, ../sass/screen.scss */
  .fxd {
    position: relative !important;
    height: 0px;
    line-height: 18px;
  }

  /* line 712, ../sass/screen.scss */
  .block-rest-drop {
    background-color: #81b200;
  }

  /* line 715, ../sass/screen.scss */
  .block-menu-bg {
    background: #fff;
  }

  /* line 718, ../sass/screen.scss */
  .block-menu-bg > li > a {
    display: block;
    padding: 2px 0 23px px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 400;
  }

  /* line 730, ../sass/screen.scss */
  .dropdown-menu {
    padding: 0;
  }

  /* line 733, ../sass/screen.scss */
  .dropdown-menu li {
    height: 47px;
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    padding-left: 53px;
  }

  /* line 739, ../sass/screen.scss */
  .dropdown-menu li:nth-child(1) {
    background: url(../image/Zuhause.svg) 20px 15px no-repeat;
  }

  /* line 742, ../sass/screen.scss */
  .dropdown-menu li:nth-child(2) {
    background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
  }

  /* line 745, ../sass/screen.scss */
  .dropdown-menu li:nth-child(3) {
    background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
  }

  /* line 748, ../sass/screen.scss */
  .dropdown-menu li:nth-child(4) {
    background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
  }

  /* line 751, ../sass/screen.scss */
  .dropdown-menu li:nth-child(5) {
    background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
  }

  /* line 754, ../sass/screen.scss */
  #toTop {
    display: none;
  }

  /* line 757, ../sass/screen.scss */
  .block-header-ben .block-text-description p {
    text-align: justify;
  }

  /* line 760, ../sass/screen.scss */
  .section.s4 {
    padding-top: 0px;
  }

  /* line 763, ../sass/screen.scss */
  .block-logo {
    left: 29px;
  }

  /* line 766, ../sass/screen.scss */
  .block-hidden {
    overflow: hidden;
    padding-top: 25px;
  }

  /* line 770, ../sass/screen.scss */
  .block-seti {
    margin: 26px auto 20px auto;
    width: 167px;
    text-align: center;
  }

  /* line 775, ../sass/screen.scss */
  .block-contacts {
    margin-top: 50px;
  }

  /* line 778, ../sass/screen.scss */
  .block-img-menu {
    background: url(../image/menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
    transition: all 0.5s ease;
  }

  /* line 788, ../sass/screen.scss */
  a.block-img-menu {
    float: left;
  }

  /* line 791, ../sass/screen.scss */
  .block-menu-color {
    color: #fff;
    padding-left: 44px;
  }

  /* line 795, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    background-size: 72%;
  }

  /* line 798, ../sass/screen.scss */
  .block-text-margin h3 {
    font-size: 26px;
  }

  /* line 801, ../sass/screen.scss */
  .block-text-margin h2 {
    font-size: 42px;
  }

  /* line 804, ../sass/screen.scss */
  .block-text-margin {
    margin-top: 40px;
  }

  /* line 807, ../sass/screen.scss */
  .block-margin {
    margin-bottom: 40px;
  }

  /* line 810, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    margin-bottom: 10px;
  }

  /* line 813, ../sass/screen.scss */
  .block-bg-img {
    width: 725px;
    height: 310px;
    top: -37px !important;
    right: 72px;
    background-size: 60% !important;
  }

  /* line 820, ../sass/screen.scss */
  .block-text-center {
    top: 30px;
    margin-bottom: 50px;
  }

  /* line 824, ../sass/screen.scss */
  .block-after-one::after {
    top: -402px;
    left: -50px;
  }

  /* line 828, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -395px;
    left: -55px;
  }

  /* line 832, ../sass/screen.scss */
  .block-margin-parent {
    margin-top: 120px;
  }

  /* line 835, ../sass/screen.scss */
  .block-after-tree::after {
    top: -424px;
    left: -59px;
  }

  /* line 839, ../sass/screen.scss */
  .block-after-four::after {
    top: -386px;
    left: -60px;
  }

  /* line 843, ../sass/screen.scss */
  .block-text-vesi {
    margin-top: -60px;
  }

  /* line 846, ../sass/screen.scss */
  .block-parent-table {
    padding-bottom: 60px;
  }

  /* line 849, ../sass/screen.scss */
  .block-table-padding {
    margin-top: 25px;
  }

  /* line 852, ../sass/screen.scss */
  .block-parent-table .block-text-paragraph {
    margin-left: 0px;
  }

  /* line 855, ../sass/screen.scss */
  .block-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* line 859, ../sass/screen.scss */
  img.block-content-center {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* line 863, ../sass/screen.scss */
  .block-text-block-margin {
    margin-top: -90px;
    margin-bottom: 35px;
  }

  /* line 867, ../sass/screen.scss */
  .block-img-margin {
    margin-bottom: 30px;
  }

  /* line 870, ../sass/screen.scss */
  .col-xs-offset-0 {
    margin-left: 0 !important;
  }

  /* line 873, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  /* line 877, ../sass/screen.scss */
  .block-muss {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 0px;
  }

  /* line 882, ../sass/screen.scss */
  .block-standorte {
    background: url(../image/map.svg) 15px top no-repeat;
    padding-left: 72px;
  }

  /* line 886, ../sass/screen.scss */
  .block-impressum {
    background: url(../image/factory.svg) 15px top no-repeat;
    padding-left: 73px;
  }

  /* line 890, ../sass/screen.scss */
  .block-kann .block-header-ben {
    margin-bottom: 25px;
  }

  /* line 893, ../sass/screen.scss */
  .block-kann {
    margin-bottom: 15px;
  }

  /* line 896, ../sass/screen.scss */
  .block-crums-text {
    margin-bottom: -100px;
  }

  /* line 899, ../sass/screen.scss */
  .block-crockery-text, .block-vesi-text, .block-dumbbells-text {
    margin-bottom: -35px;
  }

  /* line 902, ../sass/screen.scss */
  footer .block-seti-right {
    float: none;
    margin: 20px auto;
  }

  /* line 906, ../sass/screen.scss */
  .logo-footer {
    margin: 0 auto;
    width: 170px;
  }

  /* line 910, ../sass/screen.scss */
  footer .block-left-footer {
    margin-top: 0px;
  }

  /* line 913, ../sass/screen.scss */
  .block-left-footer {
    position: relative;
    top: 65px;
  }

  /* line 917, ../sass/screen.scss */
  footer .block-right-footer {
    position: relative;
    right: 30px;
    top: -10px;
  }

  /* line 922, ../sass/screen.scss */
  footer .copy {
    width: 115px;
    margin: 0 auto;
  }

  /* line 926, ../sass/screen.scss */
  footer .telefon {
    text-align: center;
    padding-left: 70px;
  }

  /* line 930, ../sass/screen.scss */
  .logo-footer {
    position: relative;
    top: 0px;
  }

  /* line 934, ../sass/screen.scss */
  .block-text-left {
    padding-bottom: 30px;
  }

  /* line 937, ../sass/screen.scss */
  .block-text-import-margin {
    margin-bottom: 30px;
  }

  /* line 940, ../sass/screen.scss */
  .block-standorte {
    margin-bottom: 25px;
  }

  /* line 943, ../sass/screen.scss */
  .block-img-left {
    margin-right: 0px;
  }

  /* line 946, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
  }

  /* line 953, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description p,
  .block-standorte p, .block-impressum p, .block-hanau p,
  .block-text-left p, .block-text-right p, .block-text-left p,
  p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p {
    text-align: justify;
  }

  /* line 959, ../sass/screen.scss */
  .block-text-left h3 {
    text-align: left;
  }

  /* line 962, ../sass/screen.scss */
  .header-bg .dropdown-menu {
    position: absolute;
    min-width: 90%;
    border-radius: 0;
    top: 35px;
    float: none;
    z-index: 9999;
    left: 16px;
  }

  /* line 971, ../sass/screen.scss */
  .wrapper .header-bg .block-logo-header {
    position: absolute !important;
    top: 0px;
  }

  /* line 975, ../sass/screen.scss */
  .block-text-paragraph {
    text-align: justify;
  }

  /* line 978, ../sass/screen.scss */
  .block-img-children {
    top: -545px;
  }

  /* line 981, ../sass/screen.scss */
  .block-rotait-children {
    top: 265px;
  }

  /* line 984, ../sass/screen.scss */
  .dropdown {
    z-index: 999;
  }

  /* line 987, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 40px bottom no-repeat;
    height: 370px;
  }

  /* line 991, ../sass/screen.scss */
  .header-bg {
    background: url(../image/Gradient.jpg) repeat-x;
    height: 1304px;
    position: relative;
    z-index: 2;
    background-position-y: -190px;
    margin-bottom: -185px;
  }

  /* line 999, ../sass/screen.scss */
  .block-text-block-margin .block-style-triangle {
    margin: 0 auto;
  }

  /* line 1002, ../sass/screen.scss */
  .block-text-block-margin .block-circle {
    background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
  }

  /* line 1006, ../sass/screen.scss */
  .block-text-block-margin .block-piramida {
    background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
  }

  /* line 1010, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) left 15px no-repeat;
    text-align: center;
  }

  /* line 1014, ../sass/screen.scss */
  .block-text-right, .block-text-left {
    padding-top: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 1019, ../sass/screen.scss */
  .menu li {
    margin-right: 35px;
  }

  /* line 1022, ../sass/screen.scss */
  footer .block-left-footer {
    padding-left: 30px;
    margin-top: 95px;
  }

  /* line 1026, ../sass/screen.scss */
  .block-bg-img {
    background-size: 80%;
    right: 445px;
  }

  /* line 1030, ../sass/screen.scss */
  footer img {
    max-width: inherit;
  }

  /* line 1033, ../sass/screen.scss */
  .logo-footer {
    top: 60px;
    position: relative;
  }

  /* line 1037, ../sass/screen.scss */
  footer .mail {
    font-size: 12px;
  }

  /* line 1040, ../sass/screen.scss */
  .block-right-footer {
    position: relative;
    top: 80px !important;
  }

  /* line 1044, ../sass/screen.scss */
  .block-img-left, .block-img-right {
    margin-bottom: 25px;
  }

  /* line 1047, ../sass/screen.scss */
  .block-text-right, .block-text-left {
    padding-top: 0px;
  }

  /* line 1050, ../sass/screen.scss */
  a#up {
    right: 45px;
  }

  /* line 1053, ../sass/screen.scss */
  .block-logo-header {
    left: -5%;
  }

  /* line 1056, ../sass/screen.scss */
  .block-margin-parent {
    margin-top: 100px;
  }

  /* line 1059, ../sass/screen.scss */
  .block-contacts .mail {
    font-size: 13px;
  }

  /* line 1062, ../sass/screen.scss */
  .block-parent-table .block-text-paragraph {
    margin-left: 80px;
  }

  /* line 1065, ../sass/screen.scss */
  .block-text-block-margin {
    padding-top: 35px;
    margin-bottom: 70px;
  }

  /* line 1069, ../sass/screen.scss */
  .block-header {
    margin-top: 15px;
    margin-bottom: 85px;
  }

  /* line 1073, ../sass/screen.scss */
  .block-parallax {
    min-height: 5000px;
  }

  /* line 1076, ../sass/screen.scss */
  .block-text-left {
    max-width: inherit;
  }

  /* line 1079, ../sass/screen.scss */
  .block-menu-parent {
    display: none !important;
  }

  /* line 1082, ../sass/screen.scss */
  .section.s4 {
    padding-top: 20px;
  }

  /* line 1085, ../sass/screen.scss */
  .block-muss {
    padding-top: 15px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 1090, ../sass/screen.scss */
  .block-margin-left-none {
    margin-left: 0;
    width: 100%;
  }

  /* line 1094, ../sass/screen.scss */
  .block-muss {
    padding-top: 15px;
  }

  /* line 1097, ../sass/screen.scss */
  ul.menu {
    width: 970px;
  }

  /* line 1100, ../sass/screen.scss */
  footer .block-left-footer {
    padding-left: 30px;
    margin-top: 95px;
  }

  /* line 1104, ../sass/screen.scss */
  .block-menu-parent {
    display: none !important;
  }

  /* line 1107, ../sass/screen.scss */
  .menu li {
    margin-right: 22px;
  }

  /* line 1110, ../sass/screen.scss */
  .menu li:last-child {
    margin-right: 0;
  }

  /* line 1113, ../sass/screen.scss */
  .block-logo-header {
    margin-left: 40px;
  }

  /* line 1116, ../sass/screen.scss */
  .block-contacts .telefon {
    font-size: 16px;
  }

  /* line 1119, ../sass/screen.scss */
  .block-contacts .mail {
    font-size: 12px;
    width: 215px;
  }

  /* line 1123, ../sass/screen.scss */
  .block-hidden {
    margin-left: 160px;
  }

  /* line 1126, ../sass/screen.scss */
  .block-bg-img {
    background-size: 72%;
    right: 425px;
    top: -135px;
  }

  /* line 1131, ../sass/screen.scss */
  .block-text-margin h3 {
    font-size: 31px;
  }

  /* line 1134, ../sass/screen.scss */
  .block-text-margin h2 {
    font-size: 37px;
  }

  /* line 1137, ../sass/screen.scss */
  .block-parent-four .block-line {
    top: 80px;
    left: 65%;
  }

  /* line 1141, ../sass/screen.scss */
  .block-after-one::after {
    top: -350px;
    left: -75px;
  }

  /* line 1145, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -390px;
    left: -90px;
  }

  /* line 1149, ../sass/screen.scss */
  .block-after-tree::after {
    top: -370px;
    left: -75px;
  }

  /* line 1153, ../sass/screen.scss */
  .block-after-four::after {
    top: -370px;
    left: -90px;
  }

  /* line 1157, ../sass/screen.scss */
  .block-text-left {
    max-width: 471px;
  }

  /* line 1160, ../sass/screen.scss */
  footer .mail {
    font-size: 10px;
  }

  /* line 1163, ../sass/screen.scss */
  footer .block-left-footer {
    margin-top: 70px;
  }

  /* line 1166, ../sass/screen.scss */
  footer img {
    max-width: inherit;
  }

  /* line 1169, ../sass/screen.scss */
  .logo-footer {
    position: relative;
    top: 50px;
  }

  /* line 1173, ../sass/screen.scss */
  footer .block-right-footer {
    top: 60px;
  }

  /* line 1176, ../sass/screen.scss */
  footer .copy {
    font-size: 12px;
  }

  /* line 1179, ../sass/screen.scss */
  .block-parent-table p.table-name {
    font-size: 12px;
  }

  /* line 1182, ../sass/screen.scss */
  .block-parent-table .block-text-paragraph {
    font-size: 14px;
    margin-top: 28px;
    margin-left: 80px;
  }

  /* line 1187, ../sass/screen.scss */
  .block-parent-table table {
    font-size: 12px;
  }

  /* line 1190, ../sass/screen.scss */
  .block-text-margin-ipad {
    left: 25px;
  }

  /* line 1193, ../sass/screen.scss */
  .block-img-left {
    margin-right: 100px;
  }

  /* line 1196, ../sass/screen.scss */
  .block-img-right {
    margin-left: 75px;
  }

  /* line 1199, ../sass/screen.scss */
  .block-text-block-margin {
    padding-top: 35px;
    margin-bottom: 70px;
  }

  /* line 1203, ../sass/screen.scss */
  .block-img-left, .block-img-right {
    margin-bottom: 10px;
  }

  /* line 1206, ../sass/screen.scss */
  .block-text-right, .block-text-left {
    padding-top: 0px;
  }

  /* line 1209, ../sass/screen.scss */
  a#up {
    right: 45px;
  }

  /* line 1212, ../sass/screen.scss */
  .block-margin-parent {
    margin-top: 100px;
  }

  /* line 1215, ../sass/screen.scss */
  .block-header {
    margin-top: 60px;
    margin-bottom: 85px;
  }

  /* line 1219, ../sass/screen.scss */
  .block-parallax {
    min-height: 5000px;
  }

  /* line 1222, ../sass/screen.scss */
  .section.s4 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  /* line 1227, ../sass/screen.scss */
  .block-logo {
    left: 29px;
  }

  /* line 1230, ../sass/screen.scss */
  .block-contacts .telefon, .block-contacts .mail {
    text-align: center;
  }

  /* line 1233, ../sass/screen.scss */
  .block-bg-img {
    right: 42px !important;
  }

  /* line 1236, ../sass/screen.scss */
  .block-after-one {
    position: relative;
    z-index: 999;
    margin-top: 70px;
  }

  /* line 1241, ../sass/screen.scss */
  .block-after-one::after {
    top: -360px;
  }

  /* line 1244, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -355px;
  }

  /* line 1247, ../sass/screen.scss */
  .block-after-tree::after {
    top: -381px;
  }

  /* line 1250, ../sass/screen.scss */
  .block-after-four::after {
    top: -356px;
  }

  /* line 1253, ../sass/screen.scss */
  footer .block-right-footer {
    right: 50px;
  }

  /* line 1256, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
  }

  /* line 1259, ../sass/screen.scss */
  .block-header-ben .block-text-description {
    margin-bottom: 20px;
  }

  /* line 1262, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) center 15px no-repeat;
  }

  /* line 1265, ../sass/screen.scss */
  .block-text-center p {
    position: relative;
    z-index: 10;
    top: 50px;
  }
}
@media screen and (max-width: 320px) {
  /* line 1272, ../sass/screen.scss */
  .block-logo {
    left: 4px !important;
  }

  /* line 1275, ../sass/screen.scss */
  .block-bg-img {
    right: 75px !important;
  }

  /* line 1278, ../sass/screen.scss */
  .block-after-one::after {
    top: -402px;
  }

  /* line 1281, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -395px;
  }

  /* line 1284, ../sass/screen.scss */
  .block-after-tree::after {
    top: -424px;
  }

  /* line 1287, ../sass/screen.scss */
  .block-after-four::after {
    top: -386px;
  }

  /* line 1290, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 40px bottom no-repeat;
  }

  /* line 1293, ../sass/screen.scss */
  footer .block-right-footer {
    right: 35px;
  }
}
/* line 1297, ../sass/screen.scss */
.open .block-img-menu {
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

@media only screen and (width: 568px) and (height: 320px) {
  /* line 1303, ../sass/screen.scss */
  .block-logo {
    left: 135px;
  }

  /* line 1306, ../sass/screen.scss */
  .block-contacts .telefon, .block-contacts .mail {
    text-align: center;
  }

  /* line 1309, ../sass/screen.scss */
  .block-bg-img {
    right: -10% !important;
  }

  /* line 1312, ../sass/screen.scss */
  .block-after-one {
    position: relative;
    z-index: 999;
    margin-top: 70px;
  }

  /* line 1317, ../sass/screen.scss */
  .block-after-one::after {
    top: -360px;
  }

  /* line 1320, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -355px;
  }

  /* line 1323, ../sass/screen.scss */
  .block-after-tree::after {
    top: -381px;
  }

  /* line 1326, ../sass/screen.scss */
  .block-after-four::after {
    top: -356px;
  }

  /* line 1329, ../sass/screen.scss */
  footer .block-right-footer {
    right: 50px;
  }

  /* line 1332, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
  }

  /* line 1335, ../sass/screen.scss */
  .block-header-ben .block-text-description {
    margin-bottom: 20px;
  }

  /* line 1338, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) center 15px no-repeat;
  }

  /* line 1341, ../sass/screen.scss */
  .block-text-center p {
    position: relative;
    z-index: 10;
    top: 50px;
  }

  /* line 1346, ../sass/screen.scss */
  .header-bg .dropdown-menu {
    position: absolute;
    min-width: 90%;
    border-radius: 0;
    top: 35px;
    float: none;
    z-index: 9999;
    left: 16px;
  }

  /* line 1355, ../sass/screen.scss */
  .block-img-menu {
    background: url(../image/menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
    transition: all 0.5s ease;
  }

  /* line 1365, ../sass/screen.scss */
  a.block-img-menu {
    float: left;
  }

  /* line 1368, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  /* line 1372, ../sass/screen.scss */
  .block-text-right {
    margin-bottom: 15px;
  }

  /* line 1375, ../sass/screen.scss */
  .block-img-left {
    margin-bottom: 15px;
  }

  /* line 1378, ../sass/screen.scss */
  .fxd {
    position: relative !important;
    height: 0px;
    line-height: 18px;
  }

  /* line 1383, ../sass/screen.scss */
  .block-rest-drop {
    background-color: #81b200;
  }

  /* line 1386, ../sass/screen.scss */
  .block-menu-bg {
    background: #fff;
  }

  /* line 1389, ../sass/screen.scss */
  .block-menu-bg > li > a {
    display: block;
    padding: 2px 0 23px px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 400;
  }

  /* line 1401, ../sass/screen.scss */
  .dropdown-menu {
    padding: 0;
  }

  /* line 1404, ../sass/screen.scss */
  .dropdown-menu li {
    height: 47px;
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    padding-left: 53px;
  }

  /* line 1410, ../sass/screen.scss */
  .dropdown-menu li:nth-child(1) {
    background: url(../image/Zuhause.svg) 20px 15px no-repeat;
  }

  /* line 1413, ../sass/screen.scss */
  .dropdown-menu li:nth-child(2) {
    background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
  }

  /* line 1416, ../sass/screen.scss */
  .dropdown-menu li:nth-child(3) {
    background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
  }

  /* line 1419, ../sass/screen.scss */
  .dropdown-menu li:nth-child(4) {
    background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
  }

  /* line 1422, ../sass/screen.scss */
  .dropdown-menu li:nth-child(5) {
    background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
  }

  /* line 1425, ../sass/screen.scss */
  #toTop {
    display: none;
  }

  /* line 1428, ../sass/screen.scss */
  .block-header-ben .block-text-description p {
    text-align: justify;
  }

  /* line 1431, ../sass/screen.scss */
  .section.s4 {
    padding-top: 0px;
  }

  /* line 1435, ../sass/screen.scss */
  .block-hidden {
    overflow: hidden;
    padding-top: 25px;
  }

  /* line 1439, ../sass/screen.scss */
  .block-seti {
    margin: 26px auto 20px auto;
    width: 167px;
  }

  /* line 1442, ../sass/screen.scss */
  .block-img-menu {
    background: url(../image/menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
    transition: all 0.5s ease;
  }

  /* line 1452, ../sass/screen.scss */
  a.block-img-menu {
    float: left;
  }

  /* line 1455, ../sass/screen.scss */
  .block-menu-color {
    color: #fff;
    padding-left: 44px;
  }

  /* line 1459, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    background-size: 100%;
    margin: 0 auto;
  }

  /* line 1463, ../sass/screen.scss */
  .block-text-margin h3 {
    font-size: 26px;
  }

  /* line 1466, ../sass/screen.scss */
  .block-text-margin h2 {
    font-size: 42px;
  }

  /* line 1469, ../sass/screen.scss */
  .block-text-margin {
    margin-top: 40px;
  }

  /* line 1472, ../sass/screen.scss */
  .block-margin {
    margin-bottom: 40px;
  }

  /* line 1475, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    margin-bottom: 40px;
  }

  /* line 1478, ../sass/screen.scss */
  .block-bg-img {
    width: 725px;
    height: 310px;
    top: 150px !important;
    background-size: 60% !important;
  }

  /* line 1484, ../sass/screen.scss */
  .block-text-center {
    top: 30px;
    margin-bottom: 50px;
  }

  /* line 1488, ../sass/screen.scss */
  .block-after-one::after {
    top: -362px;
    left: -50px;
  }

  /* line 1492, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -317px;
    left: -55px;
  }

  /* line 1496, ../sass/screen.scss */
  .block-margin-parent {
    margin-top: 120px;
  }

  /* line 1499, ../sass/screen.scss */
  .block-after-tree::after {
    top: -363px;
    left: -59px;
  }

  /* line 1503, ../sass/screen.scss */
  .block-after-four::after {
    top: -358px;
    left: -60px;
  }

  /* line 1507, ../sass/screen.scss */
  .block-text-vesi {
    margin-top: -60px;
  }

  /* line 1510, ../sass/screen.scss */
  .block-parent-table {
    padding-bottom: 60px;
  }

  /* line 1513, ../sass/screen.scss */
  .block-table-padding {
    margin-top: 25px;
  }

  /* line 1516, ../sass/screen.scss */
  .block-parent-table .block-text-paragraph {
    margin-left: 0px;
  }

  /* line 1519, ../sass/screen.scss */
  .block-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* line 1523, ../sass/screen.scss */
  img.block-content-center {
    display: block;
    margin: 15px auto;
  }

  /* line 1527, ../sass/screen.scss */
  .block-text-block-margin {
    margin-top: -90px;
    margin-bottom: 35px;
  }

  /* line 1531, ../sass/screen.scss */
  .block-img-margin {
    margin-bottom: 30px;
  }

  /* line 1534, ../sass/screen.scss */
  .col-xs-offset-0 {
    margin-left: 0 !important;
  }

  /* line 1537, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  /* line 1541, ../sass/screen.scss */
  .block-muss {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 0px;
  }

  /* line 1546, ../sass/screen.scss */
  .block-standorte {
    background: url(../image/map.svg) 15px top no-repeat;
    padding-left: 72px;
  }

  /* line 1550, ../sass/screen.scss */
  .block-impressum {
    background: url(../image/factory.svg) 15px top no-repeat;
    padding-left: 73px;
  }

  /* line 1554, ../sass/screen.scss */
  .block-kann .block-header-ben {
    margin-bottom: 25px;
  }

  /* line 1557, ../sass/screen.scss */
  .block-kann {
    margin-bottom: 15px;
  }

  /* line 1560, ../sass/screen.scss */
  .block-crums-text {
    margin-bottom: -100px;
  }

  /* line 1563, ../sass/screen.scss */
  .block-crockery-text, .block-vesi-text, .block-dumbbells-text {
    margin-bottom: -35px;
  }

  /* line 1566, ../sass/screen.scss */
  footer .block-seti-right {
    float: none;
    margin: 20px auto;
  }

  /* line 1570, ../sass/screen.scss */
  .logo-footer {
    margin: 0 auto;
    width: 170px;
  }

  /* line 1574, ../sass/screen.scss */
  footer .block-left-footer {
    margin-top: 0px;
  }

  /* line 1577, ../sass/screen.scss */
  .block-left-footer {
    position: relative;
    top: 65px;
  }

  /* line 1581, ../sass/screen.scss */
  footer .block-right-footer {
    position: relative;
    right: 30px;
    top: -10px;
  }

  /* line 1586, ../sass/screen.scss */
  footer .copy {
    width: 115px;
    margin: 0 auto;
  }

  /* line 1590, ../sass/screen.scss */
  .logo-footer {
    position: relative;
    top: 0px;
  }

  /* line 1594, ../sass/screen.scss */
  .block-text-left {
    padding-bottom: 30px;
  }

  /* line 1597, ../sass/screen.scss */
  .block-text-import-margin {
    margin-bottom: 30px;
  }

  /* line 1600, ../sass/screen.scss */
  .block-standorte {
    margin-bottom: 25px;
  }

  /* line 1603, ../sass/screen.scss */
  .block-img-left {
    margin-right: 0px;
  }

  /* line 1606, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
  }

  /* line 1609, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description p,
  .block-standorte p, .block-impressum p, .block-hanau p,
  .block-text-left p, .block-text-right p, .block-text-left p,
  p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p {
    text-align: justify;
  }

  /* line 1615, ../sass/screen.scss */
  .block-text-left h3 {
    text-align: left;
  }

  /* line 1618, ../sass/screen.scss */
  .header-bg .dropdown-menu {
    position: absolute;
    min-width: 94%;
    border-radius: 0;
    top: 35px;
    float: none;
    z-index: 9999;
    left: 16px;
  }

  /* line 1627, ../sass/screen.scss */
  .wrapper .header-bg .block-logo-header {
    position: absolute !important;
    top: 0px;
  }

  /* line 1631, ../sass/screen.scss */
  .block-text-paragraph {
    text-align: justify;
  }

  /* line 1634, ../sass/screen.scss */
  .block-img-children {
    top: -545px;
  }

  /* line 1637, ../sass/screen.scss */
  .block-rotait-children {
    top: 265px;
  }

  /* line 1640, ../sass/screen.scss */
  .dropdown {
    z-index: 999;
  }

  /* line 1643, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 165px bottom no-repeat;
    height: 370px;
  }

  /* line 1647, ../sass/screen.scss */
  .header-bg {
    background: url(../image/Gradient.jpg) repeat-x;
    height: 1304px;
    position: relative;
    z-index: 2;
    background-position-y: -190px;
    margin-bottom: -340px;
  }

  /* line 1655, ../sass/screen.scss */
  .block-text-block-margin .block-style-triangle {
    margin: 0 auto;
  }

  /* line 1658, ../sass/screen.scss */
  .block-text-block-margin .block-circle {
    background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
  }

  /* line 1662, ../sass/screen.scss */
  .block-text-block-margin .block-piramida {
    background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
  }

  /* line 1666, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) center 15px no-repeat;
    text-align: center;
  }

  /* line 1670, ../sass/screen.scss */
  .block-text-right, .block-text-left {
    padding-top: 0px;
  }

  /* line 1674, ../sass/screen.scss */
  .block-text-right h3, .block-text-left h3 {
    margin-bottom: 5px;
  }

  /* line 1677, ../sass/screen.scss */
  .block-img-left, .block-img-right {
    width: 100%;
  }

  /* line 1680, ../sass/screen.scss */
  .block-text-left {
    max-width: 100%;
  }

  /* line 1683, ../sass/screen.scss */
  footer .mail {
    padding-left: 60px;
    text-align: center;
  }

  /* line 1687, ../sass/screen.scss */
  footer .telefon {
    text-align: center;
    padding-left: 50px;
  }

  /* line 1691, ../sass/screen.scss */
  .block-margin .block-seti {
    display: none;
  }

  /* line 1694, ../sass/screen.scss */
  .block-contacts {
    margin-top: 120px;
  }
}
@media only screen and (width: 667px) and (height: 375px) {
  /* line 1699, ../sass/screen.scss */
  .block-logo {
    left: 175px;
  }

  /* line 1702, ../sass/screen.scss */
  .block-contacts .telefon, .block-contacts .mail {
    text-align: center;
  }

  /* line 1705, ../sass/screen.scss */
  .block-bg-img {
    right: -15% !important;
  }

  /* line 1708, ../sass/screen.scss */
  .block-after-one {
    position: relative;
    z-index: 999;
    margin-top: 70px;
  }

  /* line 1713, ../sass/screen.scss */
  .block-after-one::after {
    top: -360px;
  }

  /* line 1716, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -355px;
  }

  /* line 1719, ../sass/screen.scss */
  .block-after-tree::after {
    top: -381px;
  }

  /* line 1722, ../sass/screen.scss */
  .block-after-four::after {
    top: -356px;
  }

  /* line 1725, ../sass/screen.scss */
  footer .block-right-footer {
    right: 50px;
  }

  /* line 1728, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
  }

  /* line 1731, ../sass/screen.scss */
  .block-header-ben .block-text-description {
    margin-bottom: 20px;
  }

  /* line 1734, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) center 15px no-repeat;
  }

  /* line 1737, ../sass/screen.scss */
  .block-text-center p {
    position: relative;
    z-index: 10;
    top: 50px;
  }

  /* line 1742, ../sass/screen.scss */
  .header-bg .dropdown-menu {
    position: absolute;
    min-width: 90%;
    border-radius: 0;
    top: 35px;
    float: none;
    z-index: 9999;
    left: 16px;
  }

  /* line 1751, ../sass/screen.scss */
  .block-img-menu {
    background: url(../image/menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
    transition: all 0.5s ease;
  }

  /* line 1761, ../sass/screen.scss */
  a.block-img-menu {
    float: left;
  }

  /* line 1764, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  /* line 1768, ../sass/screen.scss */
  .block-text-right {
    margin-bottom: 15px;
  }

  /* line 1771, ../sass/screen.scss */
  .block-img-left {
    margin-bottom: 15px;
  }

  /* line 1774, ../sass/screen.scss */
  .fxd {
    position: relative !important;
    height: 0px;
    line-height: 18px;
  }

  /* line 1779, ../sass/screen.scss */
  .block-rest-drop {
    background-color: #81b200;
  }

  /* line 1782, ../sass/screen.scss */
  .block-menu-bg {
    background: #fff;
  }

  /* line 1785, ../sass/screen.scss */
  .block-menu-bg > li > a {
    display: block;
    padding: 2px 0 23px px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 400;
  }

  /* line 1797, ../sass/screen.scss */
  .dropdown-menu {
    padding: 0;
  }

  /* line 1800, ../sass/screen.scss */
  .dropdown-menu li {
    height: 47px;
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    padding-left: 53px;
  }

  /* line 1806, ../sass/screen.scss */
  .dropdown-menu li:nth-child(1) {
    background: url(../image/Zuhause.svg) 20px 15px no-repeat;
  }

  /* line 1809, ../sass/screen.scss */
  .dropdown-menu li:nth-child(2) {
    background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
  }

  /* line 1812, ../sass/screen.scss */
  .dropdown-menu li:nth-child(3) {
    background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
  }

  /* line 1815, ../sass/screen.scss */
  .dropdown-menu li:nth-child(4) {
    background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
  }

  /* line 1818, ../sass/screen.scss */
  .dropdown-menu li:nth-child(5) {
    background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
  }

  /* line 1821, ../sass/screen.scss */
  #toTop {
    display: none;
  }

  /* line 1824, ../sass/screen.scss */
  .block-header-ben .block-text-description p {
    text-align: justify;
  }

  /* line 1827, ../sass/screen.scss */
  .section.s4 {
    padding-top: 0px;
  }

  /* line 1831, ../sass/screen.scss */
  .block-hidden {
    overflow: hidden;
    padding-top: 25px;
  }

  /* line 1835, ../sass/screen.scss */
  .block-seti {
    margin: 26px auto 20px auto;
    width: 167px;
  }

  /* line 1838, ../sass/screen.scss */
  .block-img-menu {
    background: url(../image/menu.svg) no-repeat;
    width: 24px;
    height: 16px;
    display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
    transition: all 0.5s ease;
  }

  /* line 1848, ../sass/screen.scss */
  a.block-img-menu {
    float: left;
  }

  /* line 1851, ../sass/screen.scss */
  .block-menu-color {
    color: #fff;
    padding-left: 44px;
  }

  /* line 1855, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    background-size: 100%;
    margin: 0 auto;
  }

  /* line 1859, ../sass/screen.scss */
  .block-text-margin h3 {
    font-size: 26px;
  }

  /* line 1862, ../sass/screen.scss */
  .block-text-margin h2 {
    font-size: 42px;
  }

  /* line 1865, ../sass/screen.scss */
  .block-text-margin {
    margin-top: 40px;
  }

  /* line 1868, ../sass/screen.scss */
  .block-margin {
    margin-bottom: 40px;
  }

  /* line 1871, ../sass/screen.scss */
  .block-text-margin .block-logo-toppins {
    margin-bottom: 40px;
  }

  /* line 1874, ../sass/screen.scss */
  .block-bg-img {
    width: 725px;
    height: 310px;
    top: 150px !important;
    background-size: 60% !important;
  }

  /* line 1880, ../sass/screen.scss */
  .block-text-center {
    top: 30px;
    margin-bottom: 50px;
  }

  /* line 1884, ../sass/screen.scss */
  .block-after-one::after {
    top: -362px;
    left: -50px;
  }

  /* line 1888, ../sass/screen.scss */
  .block-one.block-after-two::after {
    top: -317px;
    left: -55px;
  }

  /* line 1892, ../sass/screen.scss */
  .block-margin-parent {
    margin-top: 120px;
  }

  /* line 1895, ../sass/screen.scss */
  .block-after-tree::after {
    top: -363px;
    left: -59px;
  }

  /* line 1899, ../sass/screen.scss */
  .block-after-four::after {
    top: -358px;
    left: -60px;
  }

  /* line 1903, ../sass/screen.scss */
  .block-text-vesi {
    margin-top: -60px;
  }

  /* line 1906, ../sass/screen.scss */
  .block-parent-table {
    padding-bottom: 60px;
  }

  /* line 1909, ../sass/screen.scss */
  .block-table-padding {
    margin-top: 25px;
  }

  /* line 1912, ../sass/screen.scss */
  .block-parent-table .block-text-paragraph {
    margin-left: 0px;
  }

  /* line 1915, ../sass/screen.scss */
  .block-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* line 1919, ../sass/screen.scss */
  img.block-content-center {
    display: block;
    margin: 15px auto;
  }

  /* line 1923, ../sass/screen.scss */
  .block-text-block-margin {
    margin-top: -90px;
    margin-bottom: 35px;
  }

  /* line 1927, ../sass/screen.scss */
  .block-img-margin {
    margin-bottom: 30px;
  }

  /* line 1930, ../sass/screen.scss */
  .col-xs-offset-0 {
    margin-left: 0 !important;
  }

  /* line 1933, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  /* line 1937, ../sass/screen.scss */
  .block-muss {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 0px;
  }

  /* line 1942, ../sass/screen.scss */
  .block-standorte {
    background: url(../image/map.svg) 15px top no-repeat;
    padding-left: 72px;
  }

  /* line 1946, ../sass/screen.scss */
  .block-impressum {
    background: url(../image/factory.svg) 15px top no-repeat;
    padding-left: 73px;
  }

  /* line 1950, ../sass/screen.scss */
  .block-kann .block-header-ben {
    margin-bottom: 25px;
  }

  /* line 1953, ../sass/screen.scss */
  .block-kann {
    margin-bottom: 15px;
  }

  /* line 1956, ../sass/screen.scss */
  .block-crums-text {
    margin-bottom: -100px;
  }

  /* line 1959, ../sass/screen.scss */
  .block-crockery-text, .block-vesi-text, .block-dumbbells-text {
    margin-bottom: -35px;
  }

  /* line 1962, ../sass/screen.scss */
  footer .block-seti-right {
    float: none;
    margin: 20px auto;
  }

  /* line 1966, ../sass/screen.scss */
  .logo-footer {
    margin: 0 auto;
    width: 170px;
  }

  /* line 1970, ../sass/screen.scss */
  footer .block-left-footer {
    margin-top: 0px;
  }

  /* line 1973, ../sass/screen.scss */
  .block-left-footer {
    position: relative;
    top: 65px;
  }

  /* line 1977, ../sass/screen.scss */
  footer .block-right-footer {
    position: relative;
    right: 30px;
    top: -10px;
  }

  /* line 1982, ../sass/screen.scss */
  footer .copy {
    width: 115px;
    margin: 0 auto;
  }

  /* line 1986, ../sass/screen.scss */
  .logo-footer {
    position: relative;
    top: 0px;
  }

  /* line 1990, ../sass/screen.scss */
  .block-text-left {
    padding-bottom: 30px;
  }

  /* line 1993, ../sass/screen.scss */
  .block-text-import-margin {
    margin-bottom: 30px;
  }

  /* line 1996, ../sass/screen.scss */
  .block-standorte {
    margin-bottom: 25px;
  }

  /* line 1999, ../sass/screen.scss */
  .block-img-left {
    margin-right: 0px;
  }

  /* line 2002, ../sass/screen.scss */
  .block-img-right {
    margin-left: 0px;
  }

  /* line 2005, ../sass/screen.scss */
  .block-ben-parent .block-header-ben .block-text-description p,
  .block-standorte p, .block-impressum p, .block-hanau p,
  .block-text-left p, .block-text-right p, .block-text-left p,
  p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p {
    text-align: justify;
  }

  /* line 2011, ../sass/screen.scss */
  .block-text-left h3 {
    text-align: left;
  }

  /* line 2014, ../sass/screen.scss */
  .header-bg .dropdown-menu {
    position: absolute;
    min-width: 95%;
    border-radius: 0;
    top: 35px;
    float: none;
    z-index: 9999;
    left: 16px;
  }

  /* line 2023, ../sass/screen.scss */
  .block-margin .block-seti {
    display: none;
  }

  /* line 2026, ../sass/screen.scss */
  .block-contacts {
    margin-top: 120px;
  }

  /* line 2029, ../sass/screen.scss */
  .wrapper .header-bg .block-logo-header {
    position: absolute !important;
    top: 0px;
  }

  /* line 2033, ../sass/screen.scss */
  .block-text-paragraph {
    text-align: justify;
  }

  /* line 2036, ../sass/screen.scss */
  .block-img-children {
    top: -545px;
  }

  /* line 2039, ../sass/screen.scss */
  .block-rotait-children {
    top: 265px;
  }

  /* line 2042, ../sass/screen.scss */
  .dropdown {
    z-index: 999;
  }

  /* line 2045, ../sass/screen.scss */
  footer {
    background: url(../image/cookies-footer-two.png) 220px bottom no-repeat;
    height: 370px;
  }

  /* line 2049, ../sass/screen.scss */
  .header-bg {
    background: url(../image/Gradient.jpg) repeat-x;
    height: 1304px;
    position: relative;
    z-index: 2;
    background-position-y: -190px;
    margin-bottom: -340px;
  }

  /* line 2057, ../sass/screen.scss */
  .block-text-block-margin .block-style-triangle {
    margin: 0 auto;
  }

  /* line 2060, ../sass/screen.scss */
  .block-text-block-margin .block-circle {
    background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
  }

  /* line 2064, ../sass/screen.scss */
  .block-text-block-margin .block-piramida {
    background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
  }

  /* line 2068, ../sass/screen.scss */
  .block-text-block-margin .block-leaves {
    background: url(../image/leaves.svg) center 15px no-repeat;
    text-align: center;
  }

  /* line 2072, ../sass/screen.scss */
  .block-text-right, .block-text-left {
    padding-top: 0px;
  }

  /* line 2076, ../sass/screen.scss */
  .block-text-right h3, .block-text-left h3 {
    margin-bottom: 5px;
  }

  /* line 2079, ../sass/screen.scss */
  .block-img-left, .block-img-right {
    width: 100%;
  }

  /* line 2082, ../sass/screen.scss */
  .block-text-left {
    max-width: 100%;
  }

  /* line 2085, ../sass/screen.scss */
  footer .mail {
    padding-left: 60px;
    text-align: center;
  }

  /* line 2089, ../sass/screen.scss */
  footer .telefon {
    text-align: center;
    padding-left: 50px;
  }
}
