/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

body {
	font-family: 'PT Sans', sans-serif;
	height: 5836px;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
a:focus{
	text-decoration: none;
}

.wrapper {
	overflow: hidden;
	// background-attachment: fixed;
}
.block-parallax {
	min-height: 6000px;
	height: 100%;
	position: absolute;
	width: 100%;
	background: transparent;
	z-index: -1000;
}
@font-face {
	font-family: "IntroRegular";
	src: url("../fonts/IntroRegular/IntroRegular.eot");
	src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/IntroRegular/IntroRegular.woff") format("woff"), url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "IntroInline"; */
@font-face {
	font-family: "IntroInline";
	src: url("../fonts/IntroInline/IntroInline.eot");
	src: url("../fonts/IntroInline/IntroInline.eot?#iefix")format("embedded-opentype"), url("../fonts/IntroInline/IntroInline.woff") format("woff"), url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
img {
	max-width: 100%;
}
.header-bg {
	background: url(../image/Gradient.jpg) repeat-x;
	// , url(../image/bg_34.png) repeat
	// width: 1px;
	height: 1139px;
	position: relative;
	z-index: 2;
	background-position: 0 -288px;

	// &::after {
	// 	content: '';
	// 	background: url(../image/bg_34.png);
	// 	width: 100%;
	// 	height: 1140px;
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	z-index: -2;
	// }
}
.block-seti {
	width: 180px;

	a {
		cursor: pointer;
	}
	margin-top: 26px;

	.google {
		background: url(../image/soc-seti.svg) no-repeat;
		height: 45px;
		width: 44px;
		display: inline-block;
		margin-right: 11px;
	}
	.facebook {
		background: url(../image/soc-seti.svg) no-repeat;
		height: 45px;
		width: 46px;
		background-position: -57px 0;
		display: inline-block;
		margin-right: 12px;
	}
	.twitter {
		background: url(../image/soc-seti.svg) no-repeat;
		height: 45px;
		width: 45px;
		background-position: -115px 0;
		display: inline-block;
	}
}
.block-logo {
  background: url(../image/toppins.svg) center 35px no-repeat, url(../image/plashka_text.png) no-repeat;
  height: 121px;
  width: 284px;
  display: block;
  position: relative;
  left: 48px;
}
.block-contacts {
	margin-top: 26px;

	.telefon {
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		margin-bottom: 18px;
	}
	.mail {
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
	}
}
.block-margin {
	margin-bottom: 101px;
}
ul.menu {
  position: relative;
  z-index: 99;
  display: table;
      max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.menu li {
	display: inline-block;
	margin-right: 65px;
	  display: table-cell;
  vertical-align: middle;
  text-align: center;
	a {
		font-family: IntroRegular;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
	}
}
.active {
  border-bottom: 2px solid #fff;
}
.fxd{
	  height: 50px;
  z-index: 9999 !important;
  width: 100%;
  background: #7cb42d;
  margin-left: 0;
  line-height: 50px;
}
.block-menu-parent.fixed{
	  width: 100%;
	  background-color: #78af2c;
	  height: 50px;
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 9999;
		transition: ease 1s;
	#menu{
		  height: 50px;
  		  display: flex;
          justify-content: center;
		li {
			display: inline-block;
			margin: auto;
		&:first-child{
			margin-left: 0 !important;
		}
		&:last-child{
			margin-right: 0 !important;
		}
			a {
				font-family: IntroRegular;
				color: #ffffff;
				font-size: 16px;
				font-weight: 400;
				line-height: 19px;
				text-align: left;
			}
		}
	}
}
.block-text-margin {
	margin-top: 169px;

	.block-logo-toppins {
		background: url(../image/text-toppins.svg) no-repeat;
		width: 399px;
		height: 74px;
		margin-bottom: 30px;
	}
	h3 {
		font-family: 'PT Sans', sans-serif;
		color: #ffffff;
		font-size: 36px;
		line-height: 43px;
		text-align: left;
		text-transform: uppercase;
	}
	h2 {
		font-family: 'Open Sans', sans-serif;
		color: #ffffff;
		font-size: 47px;
		font-weight: 400;
		line-height: 63px;
		text-align: left;
		text-transform: uppercase;
	}
	h4 {
		font-family: 'Open Sans', sans-serif;
		color: #ffffff;
		font-size: 27px;
		font-weight: 400;
		line-height: 37px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
}
.block-bg-img {
	background: url(../image/glase.png) no-repeat;
	width: 1270px;
	height: 825px;
	position: relative;
	top: -222px;
	right: 500px;
}
.block-animate-left {
	position: relative;
	z-index: 99;
}
.block-text-center {
	font-family: IntroRegular;
	color: #303030;
	font-size: 29px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	margin-bottom: 150px;
}
.section.s2 {
  padding-top: 30px;
}
.block-one {
	h3 {
		font-family: IntroRegular;
		color: #303030;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		margin-bottom: 20px;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		margin-bottom: 40px;
		max-width: 361px;
	}
}
.block-after-one {
	&::after {
		content: '1';
		display: block;
		//background: url(../image/one.png) no-repeat;
		width: 32px;
		height: 56px;
		position: relative;
		top: -366px;
		left: -95px;
		font-family: "IntroRegular";
		font-size: 80px;
		color: #ef5302;
	}
}
.block-one.block-after-two {
	position: relative;
	top: 86px;

	&::after {
		content: '2';
		display: block;
		//background: url(../image/two.png) no-repeat;
		width: 41px;
		height: 56px;
		position: relative;
		top: -315px;
		left: -95px;
		font-family: "IntroRegular";
		font-size: 80px;
		color: #ef5302;
	}
}
.block-after-tree {
	&::after {
		content: '3';
		display: block;
		//background: url(../image/tree.png) no-repeat;
		width: 41px;
		height: 58px;
		position: relative;
		top: -367px;
		left: -95px;
		font-family: "IntroRegular";
		font-size: 80px;
		color: #ef5302;
	}
}
.block-after-four {
	position: relative;
	top: 86px;

	&::after {
		content: '4';
		display: block;
		//background: url(../image/four.png) no-repeat;
		width: 44px;
		height: 56px;
		position: relative;
		top: -362px;
		left: -95px;
		font-family: "IntroRegular";
		font-size: 80px;
		color: #ef5302;
	}
}
.block-margin-parent {
	margin-top: 190px;
}
.block-parent-table {
	min-height: 240px;
	background: #f9f9f9;
	padding-top: 44px;
	position: relative;
	z-index: 1;
	margin-top: 116px;

	.block-text-paragraph {
		color: #6c6c6c;
		font-size: 21px;
		font-style: italic;
		line-height: 25px;
		text-align: left;
		margin-top: 35px;
		margin-left: 26px;
	}
	p.table-name {
		margin-bottom: 10px;
		padding-left: 22px;
		color: #000;
	}
	table {
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;

		td {
			width: 130px;
			height: 30px;
			padding-left: 22px;

			&:first-child {
				border-right: 1px solid #ccc;
			}
		}
		tr {
			border-top: 1px solid #ccc;
		}
		tr:last-child {
			border-bottom: 1px solid #ccc;
		}
	}
	img{
		max-width: inherit;
	}
}
.block-header {
	font-family: IntroRegular;
	color: #303030;
	font-size: 29px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	margin-top: 121px;
	margin-bottom: 129px;
}
.block-content-left, .block-content-right {
	color: #6c6c6c;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
}
.block-text-margin-parent {
	margin-bottom: 132px
}
img.block-content-center.animated.bounceInUp {
	max-width: 100%;
}
.block-parent-four {
	position: relative;

	.block-line {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -470px;

		img {
			max-width: 100%;
		}
	}
}
.block-text-block-margin {
	padding-top: 64px;
	// margin-bottom: 138px;

	.block-style-triangle {
		background: url(../image/triangle.svg) no-repeat;
		width: 192px;
		height: 109px;
		color: #6c6c6c;
		font-size: 18px;
		font-style: italic;
		line-height: 19px;
		text-align: left;
		padding-top: 25px;
		padding-left: 27px;
	}
	.block-circle, .block-piramida, .block-leaves {
		color: #6c6c6c;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
	}
	.block-circle {
		background: url(../image/circle.svg) left top no-repeat;
		padding-top: 57px;
	}
	.block-piramida {
		background: url(../image/piramida.svg) left top no-repeat;
		padding-top: 57px;
	}
	.block-leaves {
		background: url(../image/leaves.svg) left top no-repeat;
		padding-top: 57px;
	}
}
.section.s4 {
  padding-top: 125px;
}
.block-ben-parent {
	position: relative;

}
	.block-header-ben {
		font-family: IntroRegular;
		color: #303030;
		font-size: 29px;
		font-weight: 400;
		line-height: 34px;
		text-align: center !important;

		.block-text-description {
			margin-top: 55px;
			margin-bottom: 79px;

			p {
				font-family: 'PT Sans', sans-serif;
				color: #6c6c6c;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				text-align: left;
			}
		}
	}
.block-img-left {
	float: left;
	margin-right: 32px;
}
.block-text-right, .block-text-left {
	padding-top: 48px;

	h3 {
		font-family: IntroRegular;
		color: #303030;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		margin-bottom: 17px;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
}
.block-img-right {
	float: right;
	margin-left: 32px;
}
.block-text-left {
	max-width: 361px;

	h3, p {
		text-align: right;
	}
}
.block-text-left {
	max-width: 361px;
}
.block-text-import-margin {
	margin-bottom: 56px;
}
.block-important-text {
	padding-top: 17px;
}
.block-muss {
	padding-top: 138px;
	padding-bottom: 27px;
}
.block-standorte, .block-impressum, .block-hanau {
	p {
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
	h2 {
		font-family: IntroRegular;
		color: #303030;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		margin-bottom: 16px;
	}
}
.block-kann {
	margin-bottom: 90px;

	.block-header-ben {
		margin-bottom: 70px;
	}
}
.block-standorte {
	background: url(../image/map.svg) 10px top no-repeat;
	padding-left: 61px;
}
.block-impressum {
	background: url(../image/factory.svg) left top no-repeat;
	padding-left: 73px;
}
.block-standorte p {
	max-width: 240px;
}
.block-hanau {
	padding-top: 35px;
}
.block-hanau {
	p {
		a {
			text-decoration: underline;
			color: #6c6c6c;
		}
	}
}
footer {
	background: url(../image/cookies-footer-two.png) center bottom no-repeat;
	min-height: 260px;
	padding-top: 30px;
	height: 100%;
	  overflow: hidden;
	.block-seti-right {
		width: 200px;
		float: right;
	}
	.block-seti-footer {
		a {
			height: 45px;
			width: 46px;
			display: inline-block;
		}
		.footer-google {
			background: url(../image/soc-seti-footer.svg) no-repeat;
			margin-right: 5px;
		}
		.footer-facebook {
			background: url(../image/soc-seti-footer.svg) no-repeat;
			background-position: -57px 0;
			margin-right: 8px;
		}
		.footer-twitter {
			background: url(../image/soc-seti-footer.svg) no-repeat;
			background-position: -115px 0;
		}
	}
	.copy {
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
	.telefon {
		color: #6c6c6c;
		font-size: 20px;
		font-weight: 400;
		line-height: 19px;
		text-align: right;
	}
	.mail {
		color: #6c6c6c;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: right;
	}
	.block-left-footer {
		padding-left: 30px;
		margin-top: 150px;
	}
	.block-right-footer {
		position: relative;
		right: 30px;
		top: 30px;
	}
}
#toTop{
	position: absolute;
	right: 70px;
	background: url(../image/arrow.svg) no-repeat;
	width: 70px;
	height: 57px;
	z-index: 9999;
}

//parallax
#intro {
  background: url(../image/crumbs.png) no-repeat;
  height: 5836px;
  margin: 0 auto;
  padding: 0;
   background-position: -107px 390px;
}
@media screen and (min-width:1300px) {
.section.s2 {
  padding-top: 130px;
}
.fxd ul.menu {
  padding: 0 15px;
}
}
.logo-footer {
  position: relative;
  top: 46px;
}
@media screen and (max-width:450px) {
	.block-img-right {
  margin-left: 0px;
  margin-bottom: 15px;
}
.block-text-right{
	margin-bottom: 15px;
}
.block-img-left{
	margin-bottom: 15px;
}
	.fxd{
		position: relative !important;
  height: 0px;
  line-height: 18px;
	}
	.block-rest-drop {
  background-color: #81b200;
}
.block-menu-bg{
	background: #fff;
}
	.block-menu-bg > li > a {
  display: block;
  padding: 2px 0 23px px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu li {
    height: 47px;
  border-bottom: 1px solid #ccc;
  padding-top: 12px;
  padding-left: 53px;
}
.dropdown-menu li:nth-child(1){
  background: url(../image/Zuhause.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(2){
  background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
}
.dropdown-menu li:nth-child(3){
  background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(4){
  background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
}
.dropdown-menu li:nth-child(5){
  background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
}
#toTop {
  display: none;
}
.block-header-ben .block-text-description p {
  text-align: justify;
}
.section.s4 {
  padding-top: 0px;
}
	.block-logo {
  left: 29px;
}
.block-hidden{
	overflow: hidden;
	  padding-top: 25px;
}
.block-seti {
  margin: 26px auto 20px auto;
    width: 167px;
    text-align: center;
}
.block-contacts {
  margin-top: 50px;
}
.block-img-menu{
	background: url(../image/menu.svg) no-repeat;
	width: 24px;
  height: 16px;
  display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
      transition: all 0.5s ease;
}
a.block-img-menu {
  float: left;
}
.block-menu-color{
	color: #fff;
	padding-left: 44px;
} 
.block-text-margin .block-logo-toppins {
  background-size: 72%;
}
.block-text-margin h3 {
  font-size: 26px;
}
.block-text-margin h2 {
  font-size: 42px;
}
.block-text-margin {
  margin-top: 40px;
}
.block-margin {
  margin-bottom: 40px;
}
.block-text-margin .block-logo-toppins {
  margin-bottom: 10px;
}
.block-bg-img {
  width: 725px;
  height: 310px;
  top: -37px !important;
  right: 72px;
  background-size: 60% !important;
}
.block-text-center {
  top: 30px;
  margin-bottom: 50px;
}
.block-after-one::after {
  top: -402px;
  left: -50px;
}
.block-one.block-after-two::after {
  top: -395px;
  left: -55px;
}
.block-margin-parent {
  margin-top: 120px;
}
.block-after-tree::after {
  top: -424px;
  left: -59px;
}
.block-after-four::after {
  top: -386px;
  left: -60px;
}
.block-text-vesi{
  margin-top: -60px;
}
.block-parent-table {
  padding-bottom: 60px;
}
.block-table-padding{
  margin-top: 25px;
}
.block-parent-table .block-text-paragraph {
  margin-left: 0px;
}
.block-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
img.block-content-center {
  margin-top: 15px;
  margin-bottom: 15px;
}
.block-text-block-margin {
  margin-top: -90px;
  margin-bottom: 35px;
}
.block-img-margin {
  margin-bottom: 30px;
}
.col-xs-offset-0{
	margin-left: 0 !important;
}
.block-ben-parent .block-header-ben .block-text-description {
  margin-top: 35px;
  margin-bottom: 20px;
}
.block-muss {
  margin-top: 40px;
  margin-bottom: 20px;
    padding-top: 0px;
}
.block-standorte {
  background: url(../image/map.svg) 15px top no-repeat;
  padding-left: 72px;
}
.block-impressum{
  background: url(../image/factory.svg) 15px top no-repeat;
  padding-left: 73px;
}
.block-kann .block-header-ben {
  margin-bottom: 25px;
}
.block-kann {
  margin-bottom: 15px;
}
.block-crums-text {
  margin-bottom: -100px;
}
.block-crockery-text, .block-vesi-text, .block-dumbbells-text{
  margin-bottom: -35px;
}
footer .block-seti-right {
  float: none;
  margin: 20px auto;
}
.logo-footer {
  margin: 0 auto;
  width: 170px;
}
footer .block-left-footer {
  margin-top: 0px;
}
.block-left-footer{
  position: relative;
  top: 65px;
}
footer .block-right-footer {
  position: relative;
  right: 30px;
  top: -10px;
}
footer .copy {
  width: 115px;
  margin: 0 auto;
}
footer .telefon {
  text-align: center;
    padding-left: 70px;
}
.logo-footer {
  position: relative;
  top: 0px;
}
.block-text-left {
  padding-bottom: 30px;
}
.block-text-import-margin {
  margin-bottom: 30px;
}
.block-standorte{
  margin-bottom: 25px;
}
.block-img-left {
margin-right: 0px;
}
.block-img-right {
  margin-left: 0px;
}
// .block-text-animated .animated{
//   -webkit-animation-duration: 0s;
//   animation-duration: 0s;
// }
.block-ben-parent .block-header-ben .block-text-description p, 
.block-standorte p, .block-impressum p, .block-hanau p, 
.block-text-left p, .block-text-right p, .block-text-left p,
p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p{
  text-align: justify;
}
.block-text-left h3{
  text-align: left;
}
.header-bg .dropdown-menu {
  position: absolute;
  min-width: 90%;
  border-radius: 0;
  top: 35px;
  float: none;
  z-index: 9999;
  left: 16px;
}
.wrapper .header-bg .block-logo-header {
  position: absolute !important;
  top: 0px;
}
.block-text-paragraph {
  text-align: justify;
}
.block-img-children{
  top: -545px;
}
.block-rotait-children{
  top: 265px;
}
.dropdown {
  z-index: 999;
}
footer {
  background: url(../image/cookies-footer-two.png) 40px bottom no-repeat;
  height: 370px;
}
.header-bg {
  background: url(../image/Gradient.jpg) repeat-x;
  height: 1304px;
  position: relative;
  z-index: 2;
  background-position-y: -190px;
  margin-bottom: -185px;
}
.block-text-block-margin .block-style-triangle {
  margin: 0 auto;
}
.block-text-block-margin .block-circle {
  background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-piramida {
  background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) left 15px no-repeat;
    text-align: center;
}
.block-text-right, .block-text-left {
  padding-top: 20px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .menu li {
    margin-right: 35px;
  }
  footer .block-left-footer {
  padding-left: 30px;
  margin-top: 95px;
}
  .block-bg-img {
  background-size: 80%;
    right: 445px;
}
footer img{
  max-width: inherit;
}
.logo-footer{
  top: 60px;
  position: relative;
}
footer .mail {
  font-size: 12px;
}
.block-right-footer{
  position: relative;
  top: 80px !important;
}
.block-img-left, .block-img-right{
  margin-bottom: 25px;
}
.block-text-right, .block-text-left {
  padding-top: 0px;
}
a#up {
  right: 45px;
}
.block-logo-header {
  left: -5%;
}
.block-margin-parent {
  margin-top: 100px;
}
.block-contacts .mail {
  font-size: 13px;
}
.block-parent-table .block-text-paragraph {
  margin-left: 80px;
}
.block-text-block-margin {
  padding-top: 35px;
  margin-bottom: 70px;
}
.block-header {
  margin-top: 15px;
  margin-bottom: 85px;
}
.block-parallax {
  min-height: 5000px;
}
.block-text-left {
  max-width: inherit;
}
.block-menu-parent{
	display: none !important;
}
.section.s4 {
  padding-top: 20px;
}
.block-muss {
  padding-top: 15px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .block-margin-left-none {
  margin-left: 0;
  width: 100%;
}
.block-muss {
  padding-top: 15px;
}
ul.menu{
	width: 970px;
}
footer .block-left-footer {
  padding-left: 30px;
  margin-top: 95px;
}
.block-menu-parent{
	display: none !important;
}
.menu li {
  margin-right: 22px;
}
.menu li:last-child {
  margin-right: 0;
}
.block-logo-header {
  margin-left: 40px;
}
.block-contacts .telefon {
  font-size: 16px;
}
.block-contacts .mail {
  font-size: 12px;
  width: 215px;
}
.block-hidden {
  margin-left: 160px;
}
.block-bg-img {
  background-size: 72%;
  right: 425px;
  top: -135px;
}
.block-text-margin h3 {
  font-size: 31px;
}
.block-text-margin h2 {
  font-size: 37px;
}
.block-parent-four .block-line {
  top: 80px;
  left: 65%;
}
.block-after-one::after {
  top: -350px;
  left: -75px;
}
.block-one.block-after-two::after {
  top: -390px;
  left: -90px;
}
.block-after-tree::after {
  top: -370px;
  left: -75px;
}
.block-after-four::after {
  top: -370px;
  left: -90px;
}
.block-text-left {
  max-width: 471px;
}
footer .mail {
  font-size: 10px;
}
footer .block-left-footer {
  margin-top: 70px;
}
footer img{
  max-width: inherit;
}
.logo-footer {
  position: relative;
  top: 50px;
}
footer .block-right-footer {
  top: 60px;
}
footer .copy {
  font-size: 12px;
}
.block-parent-table p.table-name {
  font-size: 12px;
}
.block-parent-table .block-text-paragraph {
  font-size: 14px;
  margin-top: 28px;
  margin-left: 80px;
}
.block-parent-table table {
  font-size: 12px;
}
.block-text-margin-ipad{
	left: 25px;
}
.block-img-left {
  margin-right: 100px;
}
.block-img-right {
  margin-left: 75px;
}
.block-text-block-margin {
  padding-top: 35px;
  margin-bottom: 70px;
}
.block-img-left, .block-img-right{
  margin-bottom: 10px;
}
.block-text-right, .block-text-left {
  padding-top: 0px;
}
a#up {
  right: 45px;
}
.block-margin-parent {
  margin-top: 100px;
}
.block-header {
  margin-top: 60px;
  margin-bottom: 85px;
}
.block-parallax {
  min-height: 5000px;
}
.section.s4 {
  padding-top: 20px;
}
}
@media screen and (max-width:375px) {
	.block-logo {
  left: 29px;
}
.block-contacts .telefon, .block-contacts .mail{
	text-align: center;
}
.block-bg-img {
  right: 42px !important;
}
.block-after-one {
  position: relative;
  z-index: 999;
  margin-top: 70px;
}
.block-after-one::after {
  top: -360px;
}
.block-one.block-after-two::after {
  top: -355px;
}
.block-after-tree::after {
  top: -381px;
}
.block-after-four::after {
  top: -356px;
}
footer .block-right-footer {
  right: 50px;
}
footer {
  background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
}
.block-header-ben .block-text-description {
  margin-bottom: 20px;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) center 15px no-repeat;
}
.block-text-center p {
  position: relative;
  z-index: 10;
    top: 50px;
}
}
@media screen and (max-width:320px) {
	.block-logo {
  left: 4px !important;
}
.block-bg-img {
  right: 75px !important;
}
.block-after-one::after {
  top: -402px;
}
.block-one.block-after-two::after {
  top: -395px;
}
.block-after-tree::after {
  top: -424px;
}
.block-after-four::after {
  top: -386px;
}
footer {
  background: url(../image/cookies-footer-two.png) 40px bottom no-repeat;
}
footer .block-right-footer {
  right: 35px;
}
}
.open .block-img-menu{
	  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
@media only screen and (width : 568px) and (height : 320px){
	.block-logo {
  left: 135px;
}
.block-contacts .telefon, .block-contacts .mail{
	text-align: center;
}
.block-bg-img {
  right: -10% !important;
}
.block-after-one {
  position: relative;
  z-index: 999;
  margin-top: 70px;
}
.block-after-one::after {
  top: -360px;
}
.block-one.block-after-two::after {
  top: -355px;
}
.block-after-tree::after {
  top: -381px;
}
.block-after-four::after {
  top: -356px;
}
footer .block-right-footer {
  right: 50px;
}
footer {
  background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
}
.block-header-ben .block-text-description {
  margin-bottom: 20px;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) center 15px no-repeat;
}
.block-text-center p {
  position: relative;
  z-index: 10;
    top: 50px;
}
.header-bg .dropdown-menu {
  position: absolute;
  min-width: 90%;
  border-radius: 0;
  top: 35px;
  float: none;
  z-index: 9999;
  left: 16px;
}
.block-img-menu {
  background: url(../image/menu.svg) no-repeat;
  width: 24px;
  height: 16px;
  display: block;
  padding-left: 22px;
  color: #fff;
  margin-left: 15px;
  transition: all 0.5s ease;
}
a.block-img-menu {
  float: left;
}
.block-img-right {
  margin-left: 0px;
  margin-bottom: 15px;
}
.block-text-right{
	margin-bottom: 15px;
}
.block-img-left{
	margin-bottom: 15px;
}
	.fxd{
		position: relative !important;
  height: 0px;
  line-height: 18px;
	}
	.block-rest-drop {
  background-color: #81b200;
}
.block-menu-bg{
	background: #fff;
}
	.block-menu-bg > li > a {
  display: block;
  padding: 2px 0 23px px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu li {
    height: 47px;
  border-bottom: 1px solid #ccc;
  padding-top: 12px;
  padding-left: 53px;
}
.dropdown-menu li:nth-child(1){
  background: url(../image/Zuhause.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(2){
  background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
}
.dropdown-menu li:nth-child(3){
  background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(4){
  background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
}
.dropdown-menu li:nth-child(5){
  background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
}
#toTop {
  display: none;
}
.block-header-ben .block-text-description p {
  text-align: justify;
}
.section.s4 {
  padding-top: 0px;
}
	
.block-hidden{
	overflow: hidden;
	  padding-top: 25px;
}
.block-seti {
  margin: 26px auto 20px auto;
    width: 167px;}
.block-img-menu{
	background: url(../image/menu.svg) no-repeat;
	width: 24px;
  height: 16px;
  display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
      transition: all 0.5s ease;
}
a.block-img-menu {
  float: left;
}
.block-menu-color{
	color: #fff;
	padding-left: 44px;
} 
.block-text-margin .block-logo-toppins {
  background-size: 100%;
  margin:0 auto;
}
.block-text-margin h3 {
  font-size: 26px;
}
.block-text-margin h2 {
  font-size: 42px;
}
.block-text-margin {
  margin-top: 40px;
}
.block-margin {
  margin-bottom: 40px;
}
.block-text-margin .block-logo-toppins {
  margin-bottom: 40px;
}
.block-bg-img {
  width: 725px;
  height: 310px;
  top: 150px !important;
  background-size: 60% !important;
}
.block-text-center {
  top: 30px;
  margin-bottom: 50px;
}
.block-after-one::after {
  top: -362px;
  left: -50px;
}
.block-one.block-after-two::after {
  top: -317px;
  left: -55px;
}
.block-margin-parent {
  margin-top: 120px;
}
.block-after-tree::after {
  top: -363px;
  left: -59px;
}
.block-after-four::after {
  top: -358px;
  left: -60px;
}
.block-text-vesi{
  margin-top: -60px;
}
.block-parent-table {
  padding-bottom: 60px;
}
.block-table-padding{
  margin-top: 25px;
}
.block-parent-table .block-text-paragraph {
  margin-left: 0px;
}
.block-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
img.block-content-center {
    display: block;
  margin: 15px auto;
}
.block-text-block-margin {
  margin-top: -90px;
  margin-bottom: 35px;
}
.block-img-margin {
  margin-bottom: 30px;
}
.col-xs-offset-0{
	margin-left: 0 !important;
}
.block-ben-parent .block-header-ben .block-text-description {
  margin-top: 35px;
  margin-bottom: 20px;
}
.block-muss {
  margin-top: 40px;
  margin-bottom: 20px;
    padding-top: 0px;
}
.block-standorte {
  background: url(../image/map.svg) 15px top no-repeat;
  padding-left: 72px;
}
.block-impressum{
  background: url(../image/factory.svg) 15px top no-repeat;
  padding-left: 73px;
}
.block-kann .block-header-ben {
  margin-bottom: 25px;
}
.block-kann {
  margin-bottom: 15px;
}
.block-crums-text {
  margin-bottom: -100px;
}
.block-crockery-text, .block-vesi-text, .block-dumbbells-text{
  margin-bottom: -35px;
}
footer .block-seti-right {
  float: none;
  margin: 20px auto;
}
.logo-footer {
  margin: 0 auto;
  width: 170px;
}
footer .block-left-footer {
  margin-top: 0px;
}
.block-left-footer{
  position: relative;
  top: 65px;
}
footer .block-right-footer {
  position: relative;
  right: 30px;
  top: -10px;
}
footer .copy {
  width: 115px;
  margin: 0 auto;
}
.logo-footer {
  position: relative;
  top: 0px;
}
.block-text-left {
  padding-bottom: 30px;
}
.block-text-import-margin {
  margin-bottom: 30px;
}
.block-standorte{
  margin-bottom: 25px;
}
.block-img-left {
margin-right: 0px;
}
.block-img-right {
  margin-left: 0px;
}
.block-ben-parent .block-header-ben .block-text-description p, 
.block-standorte p, .block-impressum p, .block-hanau p, 
.block-text-left p, .block-text-right p, .block-text-left p,
p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p{
  text-align: justify;
}
.block-text-left h3{
  text-align: left;
}
.header-bg .dropdown-menu {
  position: absolute;
  min-width: 94%;
  border-radius: 0;
  top: 35px;
  float: none;
  z-index: 9999;
  left: 16px;
}
.wrapper .header-bg .block-logo-header {
  position: absolute !important;
  top: 0px;
}
.block-text-paragraph {
  text-align: justify;
}
.block-img-children{
  top: -545px;
}
.block-rotait-children{
  top: 265px;
}
.dropdown {
  z-index: 999;
}
footer {
  background: url(../image/cookies-footer-two.png) 165px bottom no-repeat;
  height: 370px;
}
.header-bg {
  background: url(../image/Gradient.jpg) repeat-x;
  height: 1304px;
  position: relative;
  z-index: 2;
  background-position-y: -190px;
  margin-bottom: -340px;
}
.block-text-block-margin .block-style-triangle {
  margin: 0 auto;
}
.block-text-block-margin .block-circle {
  background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-piramida {
  background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) center 15px no-repeat;
    text-align: center;
}
.block-text-right, .block-text-left {
  padding-top: 0px;
}

.block-text-right h3, .block-text-left h3 {
  margin-bottom: 5px;
}
.block-img-left, .block-img-right{
	width: 100%;
}
.block-text-left {
  max-width: 100%;
}
footer .mail {
  padding-left: 60px;
    text-align: center;
}
footer .telefon {
  text-align: center;
  padding-left: 50px;
}
.block-margin .block-seti{
	display: none;
}
.block-contacts {
  margin-top: 120px;
}
}
@media only screen and (width : 667px) and (height : 375px){
	.block-logo {
  left: 175px;
}
.block-contacts .telefon, .block-contacts .mail{
	text-align: center;
}
.block-bg-img {
  right: -15% !important;
}
.block-after-one {
  position: relative;
  z-index: 999;
  margin-top: 70px;
}
.block-after-one::after {
  top: -360px;
}
.block-one.block-after-two::after {
  top: -355px;
}
.block-after-tree::after {
  top: -381px;
}
.block-after-four::after {
  top: -356px;
}
footer .block-right-footer {
  right: 50px;
}
footer {
  background: url(../image/cookies-footer-two.png) 70px bottom no-repeat;
}
.block-header-ben .block-text-description {
  margin-bottom: 20px;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) center 15px no-repeat;
}
.block-text-center p {
  position: relative;
  z-index: 10;
    top: 50px;
}
.header-bg .dropdown-menu {
  position: absolute;
  min-width: 90%;
  border-radius: 0;
  top: 35px;
  float: none;
  z-index: 9999;
  left: 16px;
}
.block-img-menu {
  background: url(../image/menu.svg) no-repeat;
  width: 24px;
  height: 16px;
  display: block;
  padding-left: 22px;
  color: #fff;
  margin-left: 15px;
  transition: all 0.5s ease;
}
a.block-img-menu {
  float: left;
}
.block-img-right {
  margin-left: 0px;
  margin-bottom: 15px;
}
.block-text-right{
	margin-bottom: 15px;
}
.block-img-left{
	margin-bottom: 15px;
}
	.fxd{
		position: relative !important;
  height: 0px;
  line-height: 18px;
	}
	.block-rest-drop {
  background-color: #81b200;
}
.block-menu-bg{
	background: #fff;
}
	.block-menu-bg > li > a {
  display: block;
  padding: 2px 0 23px px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu li {
    height: 47px;
  border-bottom: 1px solid #ccc;
  padding-top: 12px;
  padding-left: 53px;
}
.dropdown-menu li:nth-child(1){
  background: url(../image/Zuhause.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(2){
  background: url(../image/Uber_Topins.svg) 20px 12px no-repeat;
}
.dropdown-menu li:nth-child(3){
  background: url(../image/Aktion_Topins.svg) 20px 15px no-repeat;
}
.dropdown-menu li:nth-child(4){
  background: url(../image/Topins_Leben.svg) 20px 16px no-repeat;
}
.dropdown-menu li:nth-child(5){
  background: url(../image/Eigenschaften_Topins.svg) 20px 12px no-repeat;
}
#toTop {
  display: none;
}
.block-header-ben .block-text-description p {
  text-align: justify;
}
.section.s4 {
  padding-top: 0px;
}
	
.block-hidden{
	overflow: hidden;
	  padding-top: 25px;
}
.block-seti {
  margin: 26px auto 20px auto;
    width: 167px;}
.block-img-menu{
	background: url(../image/menu.svg) no-repeat;
	width: 24px;
  height: 16px;
  display: block;
    padding-left: 22px;
    color: #fff;
    margin-left: 15px;
      transition: all 0.5s ease;
}
a.block-img-menu {
  float: left;
}
.block-menu-color{
	color: #fff;
	padding-left: 44px;
} 
.block-text-margin .block-logo-toppins {
  background-size: 100%;
  margin:0 auto;
}
.block-text-margin h3 {
  font-size: 26px;
}
.block-text-margin h2 {
  font-size: 42px;
}
.block-text-margin {
  margin-top: 40px;
}
.block-margin {
  margin-bottom: 40px;
}
.block-text-margin .block-logo-toppins {
  margin-bottom: 40px;
}
.block-bg-img {
  width: 725px;
  height: 310px;
  top: 150px !important;
  background-size: 60% !important;
}
.block-text-center {
  top: 30px;
  margin-bottom: 50px;
}
.block-after-one::after {
  top: -362px;
  left: -50px;
}
.block-one.block-after-two::after {
  top: -317px;
  left: -55px;
}
.block-margin-parent {
  margin-top: 120px;
}
.block-after-tree::after {
  top: -363px;
  left: -59px;
}
.block-after-four::after {
  top: -358px;
  left: -60px;
}
.block-text-vesi{
  margin-top: -60px;
}
.block-parent-table {
  padding-bottom: 60px;
}
.block-table-padding{
  margin-top: 25px;
}
.block-parent-table .block-text-paragraph {
  margin-left: 0px;
}
.block-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
img.block-content-center {
    display: block;
  margin: 15px auto;
}
.block-text-block-margin {
  margin-top: -90px;
  margin-bottom: 35px;
}
.block-img-margin {
  margin-bottom: 30px;
}
.col-xs-offset-0{
	margin-left: 0 !important;
}
.block-ben-parent .block-header-ben .block-text-description {
  margin-top: 35px;
  margin-bottom: 20px;
}
.block-muss {
  margin-top: 40px;
  margin-bottom: 20px;
    padding-top: 0px;
}
.block-standorte {
  background: url(../image/map.svg) 15px top no-repeat;
  padding-left: 72px;
}
.block-impressum{
  background: url(../image/factory.svg) 15px top no-repeat;
  padding-left: 73px;
}
.block-kann .block-header-ben {
  margin-bottom: 25px;
}
.block-kann {
  margin-bottom: 15px;
}
.block-crums-text {
  margin-bottom: -100px;
}
.block-crockery-text, .block-vesi-text, .block-dumbbells-text{
  margin-bottom: -35px;
}
footer .block-seti-right {
  float: none;
  margin: 20px auto;
}
.logo-footer {
  margin: 0 auto;
  width: 170px;
}
footer .block-left-footer {
  margin-top: 0px;
}
.block-left-footer{
  position: relative;
  top: 65px;
}
footer .block-right-footer {
  position: relative;
  right: 30px;
  top: -10px;
}
footer .copy {
  width: 115px;
  margin: 0 auto;
}
.logo-footer {
  position: relative;
  top: 0px;
}
.block-text-left {
  padding-bottom: 30px;
}
.block-text-import-margin {
  margin-bottom: 30px;
}
.block-standorte{
  margin-bottom: 25px;
}
.block-img-left {
margin-right: 0px;
}
.block-img-right {
  margin-left: 0px;
}
.block-ben-parent .block-header-ben .block-text-description p, 
.block-standorte p, .block-impressum p, .block-hanau p, 
.block-text-left p, .block-text-right p, .block-text-left p,
p.block-content-right, p.block-content-left, .block-one p, .block-text-margin p{
  text-align: justify;
}
.block-text-left h3{
  text-align: left;
}
.header-bg .dropdown-menu {
  position: absolute;
  min-width: 95%;
  border-radius: 0;
  top: 35px;
  float: none;
  z-index: 9999;
  left: 16px;
}
.block-margin .block-seti{
	display: none;
}
.block-contacts {
  margin-top: 120px;
}
.wrapper .header-bg .block-logo-header {
  position: absolute !important;
  top: 0px;
}
.block-text-paragraph {
  text-align: justify;
}
.block-img-children{
  top: -545px;
}
.block-rotait-children{
  top: 265px;
}
.dropdown {
  z-index: 999;
}
footer {
  background: url(../image/cookies-footer-two.png) 220px bottom no-repeat;
  height: 370px;
}
.header-bg {
  background: url(../image/Gradient.jpg) repeat-x;
  height: 1304px;
  position: relative;
  z-index: 2;
  background-position-y: -190px;
  margin-bottom: -340px;
}
.block-text-block-margin .block-style-triangle {
  margin: 0 auto;
}
.block-text-block-margin .block-circle {
  background: url(../image/circle.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-piramida {
  background: url(../image/piramida.svg) center top no-repeat;
    text-align: center;
}
.block-text-block-margin .block-leaves {
  background: url(../image/leaves.svg) center 15px no-repeat;
    text-align: center;
}
.block-text-right, .block-text-left {
  padding-top: 0px;
}

.block-text-right h3, .block-text-left h3 {
  margin-bottom: 5px;
}
.block-img-left, .block-img-right{
	width: 100%;
}
.block-text-left {
  max-width: 100%;
}
footer .mail {
  padding-left: 60px;
    text-align: center;
}
footer .telefon {
  text-align: center;
  padding-left: 50px;
}
}